<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large">User Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar class="toolbar" >
      <ion-title size="small">Complete Auth & User Managment System with PostgreSQL</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="navigateToSignup()">Go to Signup</ion-button>
    <ion-button (click)="navigateToLogon()">Logon</ion-button>
    <ion-button (click)="navigateToForget()">ForgetPassWord</ion-button>
    <ion-button>OTP</ion-button>
    <ion-button>Email Verification</ion-button>
  </div>
</ion-content>
